<% include partials/header %>

<h1>TEST HELLO DESU</h1>

<% blogs.forEach((value) => { %>
    <h1><%= value.title %></h1>
    <img src="<%= value.image %>">
    <p><%= value.created %></p>
    <p><%= value.body %></p>
    <a href="/blogs/<%= value._id %>">View Details</a>
<% }) %>

<% include partials/footer %>