<% include partials/header %>

<div class="ui main text container segment" id="view">
    <div class="ui huge header"><%= view.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="view_image" src="<%= view.image %>" alt="default">
            <div class="content">
                <span><%= view.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- view.body %></p>
            </div>
            <a class="ui orange basic button" href="/blogs/<%= view._id %>/edit">EDIT</a>
            <form id="delete" action="/blogs/<%= view._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>